@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.5s background-color;
}
button:hover {
  background-color: #3e66fb !important;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.github {
  width: 32px;
  height: 32px;
  filter: invert(99%) sepia(0%) saturate(1136%) hue-rotate(222deg) brightness(90%) contrast(91%);
}
.github:hover {
  filter: invert(39%) sepia(86%) saturate(486%) hue-rotate(174deg) brightness(92%) contrast(78%);
}

#social-link div {
  display: grid;
  grid-template-rows: 50px 50px;
}

.social-link-container {
  display: grid;
  grid-template-rows: 32px 32px;
  row-gap: 5px;
  margin-bottom: 10px;
}
.social-link-container div {
  display: grid;
  grid-template-columns: 32px auto;
  column-gap: 5px;
  align-items: center;
  transition: 0.3s filter;
}
.social-link-container div a {
  display: flex;
  align-items: center;
}
.social-link-container div a img {
  user-select: none;
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bottom-center {
  position: absolute;
  left: 50%;
  bottom: 0;
}

#landingPage {
  height: 100vh;
  background-color: #242f38;
}

#nameSection {
  text-align: left;
  margin-left: 15%;
  position: absolute;
  top: 30%;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 15px;
}
#nameSection h1 {
  font-size: 60px;
  font-family: "Reem Kufi", sans-serif !important;
}
#nameSection h3 {
  margin-left: 4px;
}
#nameSection button {
  width: 175px;
  height: 40px;
  margin: 4px, 0, 0, 4px;
  margin-top: 20px;
  background-color: #00b2ff;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  transition: 1s all;
  box-shadow: 0 0 0 #000;
  transform: translate3d(0, 0, 0);
}
#nameSection button:hover {
  background-color: #0081b8 !important;
}

#navBar {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 40px;
  column-gap: 20px;
  width: 175px;
}
#navBar span {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
#navBar span:hover {
  color: #0081b8 !important;
}

#socialMedia {
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 25px;
}
#socialMedia #githubSocial {
  margin-left: 0;
}
#socialMedia a {
  width: 32px;
  text-align: left;
}

.social-icon {
  width: 32px;
  height: 32px;
  filter: invert(99%) sepia(0%) saturate(1136%) hue-rotate(222deg) brightness(90%) contrast(91%);
  transition: 0.5s;
}
.social-icon:hover {
  filter: invert(39%) sepia(86%) saturate(486%) hue-rotate(174deg) brightness(92%) contrast(78%);
}

.project-showcase-description-bulletlist {
  margin-left: 20px;
}
.project-showcase-description-bulletlist .sublist {
  margin-left: 20px;
}

#projectsPage {
  padding-bottom: 100px;
}
#projectsPage h1 {
  text-align: center;
  padding-left: 0;
}

.project-showcase {
  margin: 0 auto;
  width: 60vw;
  max-width: 1000px;
  height: 66vh;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  box-shadow: 9px 10px 29px 2px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: 0.5s box-shadow ease-in-out;
}
.project-showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frosted-glass {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 0;
  width: 60vw;
  max-width: 1000px;
  height: 66vh;
  transition: 0.5s opacity ease-in-out;
  font-family: "Reem Kufi", sans-serif !important;
  color: #cbcbcb;
  padding: 25px 0 0 25px;
}
.frosted-glass:hover {
  opacity: 0;
}
.frosted-glass h2 {
  margin-top: 25px;
}
.frosted-glass h2:after {
  /* This value is the OPPOSITE color of our background */
  mix-blend-mode: difference;
}
.frosted-glass .project-showcase-description {
  margin-top: 25px;
  padding-right: 25px;
}

#aboutPage {
  height: 75vh;
  margin-top: 50px;
  background-color: #222324;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  text-align: center;
}
#aboutPage #about {
  padding-top: 50px;
  margin: auto;
  width: 50%;
  font-size: 17px;
}
#aboutPage footer {
  height: min-content;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  justify-content: center;
  align-items: end;
  text-align: center;
}
#aboutPage footer #socialMedia {
  position: static;
  margin: auto;
  width: 160px;
}
#aboutPage footer #email {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: min-content;
  column-gap: 10px;
}
#aboutPage footer #email img {
  margin-top: 7px;
  width: 32px;
  height: 32px;
}
#aboutPage footer #nameAndYear {
  height: 30px;
}

@media only screen and (max-width: 900px) {
  #promo {
    grid-template-columns: 100% !important;
  }
  #promo #promoHeaderWrapper {
    text-align: center;
  }
  #promo #promoHeaderWrapper #promoHeader {
    font-size: 12vw !important;
  }
  #promo #downloadButton {
    display: none;
  }
  #promo #releasesMobileButton {
    display: inline !important;
  }

  #promoImg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.15;
    animation: drop-opaque 1.5s !important;
  }

  #githubSocial {
    margin: 0 !important;
    position: absolute;
  }

  .social-link-container {
    width: 32px;
  }

  .bottom-left {
    left: 50%;
    transform: translateX(-50%);
  }

  #landingPage {
    display: flex;
    justify-content: center;
  }
  #landingPage #nameSection {
    margin-left: 0;
    padding: 0 25px 0 25px;
    text-align: center;
  }
  #landingPage #nameSection button {
    margin: 0 auto;
    margin-top: 20px;
  }
  #landingPage #socialMedia {
    right: auto !important;
    left: 50%;
    transform: translateX(-50%);
  }

  #projectsPage {
    padding: 0 25px 0 25px;
  }
  #projectsPage .project-showcase:first-of-type {
    margin-top: 50px;
  }
  #projectsPage .project-showcase .frosted-glass {
    padding: 0;
    text-align: center;
  }
  #projectsPage .project-showcase .frosted-glass .project-showcase-description {
    padding: 0 15px 0 15px;
  }
  #projectsPage .project-showcase .frosted-glass .project-showcase-description-bulletlist {
    display: none;
  }

  .section-title {
    padding: 25px 0 0 0 !important;
    margin: 0 !important;
    text-align: center;
  }

  #aboutPage {
    height: 100vh;
  }
  #aboutPage #about {
    padding: 30px 50px 0 50px;
    margin: auto;
  }
  #aboutPage #nameAndYear {
    padding-bottom: 10px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block !important;
  }
}
.mobile {
  display: none;
}

@media only screen and (max-height: 600px) {
  .social-link-container {
    margin: 0 !important;
    position: fixed;
    top: 20px;
    left: calc(100% - 35px);
  }
}
@keyframes drop-opaque {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 0.15;
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #16191a;
  color: #cbcbcb;
}

#logo {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: #9a9a9a;
  font-size: 32px;
  position: absolute;
  top: 12px;
  left: 12px;
  user-select: none;
  cursor: pointer;
}

#promo {
  overflow: hidden;
  display: grid;
  grid-template-columns: 59.2vw auto;
  align-items: center;
  width: 100%;
  height: 100%;
}

#promoHeaderWrapper {
  width: 80%;
  height: min-content;
  margin-top: 15vh;
  align-self: start;
  justify-self: center;
}
#promoHeaderWrapper #promoHeader {
  font-weight: bold;
  color: #b7b7b7;
  font-size: 72px;
}
#promoHeaderWrapper #downloadButton,
#promoHeaderWrapper #releasesMobileButton {
  background-color: #00ccd9;
  height: 45px;
  margin: 25px 0px 0px 5px;
  padding: 0px 15px;
  border-radius: 7px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
#promoHeaderWrapper #downloadButton:hover,
#promoHeaderWrapper #releasesMobileButton:hover {
  background-color: #00bdca !important;
}
#promoHeaderWrapper #releasesMobileButton {
  display: none;
  width: 200px;
  height: 50px;
  font-size: 22px;
  margin-top: 100px;
}
#promoHeaderWrapper p {
  margin: 15px 0px 0px 5px;
  font-family: "Raleway", sans-serif;
  color: #676767;
  font-weight: 800;
}

#promoImg {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  margin: 0px calc(5%) 15px 0px;
  justify-self: end;
  align-self: center;
  height: 90vh;
  width: 100%;
  animation: drop 1.5s ease;
}
#promoImg img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#githubSocial {
  margin-left: 6.5vw;
  transition: 0.5s filter ease;
}

.accent {
  color: #00b2ff;
}

.section-title {
  padding-top: 50px;
  font-size: 60px;
  font-family: "Reem Kufi", sans-serif !important;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background: #5c5c5c;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

/*# sourceMappingURL=style.css.map */
