@use "../variables" as *;

@mixin project-showcase-sizing {
  position: relative;
  max-width: 1000px;
}

#projectsPage {
  h1 {
    text-align: center;
    padding-left: 0;
  }

  padding-bottom: 100px;

  background-color: rgb(11, 11, 11);
}

.project-showcase {
  @include project-showcase-sizing();
  margin: 0 auto;
  height: 66vh;
  width: 60vw;
  margin-top: 100px;

  overflow: hidden;
  opacity: 0;

  box-shadow: 9px 10px 29px 2px rgba(0, 0, 0, 0.75);

  cursor: pointer;

  .background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: $animationDuration filter ease-in-out;
    filter: opacity(0.5) blur(10px);
  }

  transition: $animationDuration box-shadow ease-in-out,
    $animationDuration transform ease-out;

  &:hover {
    transform: translateY(-5px);

    .project-page-arrow {
      opacity: 1;

      transform: translateX(-25px);
    }

    .background-img {
      filter: opacity(1) blur(0px);

      &.bright {
        filter: opacity(0.5) blur(0px);
      }
    }
  }

  .project-page-arrow {
    position: absolute;
    bottom: 25px;
    transform: translateX(-50%);

    right: 0;

    padding: 0 10px 10px 0;

    transition: $animationDuration ease-in-out;

    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    align-items: center;

    font-size: 25px;
    font-family: "Reem Kufi", sans-serif !important;
    color: #cbcbcb;

    opacity: 0;

    img {
      filter: $lightFilter;

      width: 40px;
    }
  }
}

.project-description {
  @include project-showcase-sizing();
  height: calc(100% - 25px);
  width: calc(100% - 25px);

  text-decoration: none;

  transition: $animationDuration opacity ease-in-out;

  &:hover {
    opacity: 0;
  }

  font-family: "Reem Kufi", sans-serif !important;
  color: #cbcbcb;
  padding: 25px 0 0 25px;

  .project-showcase-platforms span {
    white-space: nowrap;
  }

  .project-showcase-description {
    margin-top: 25px;
    padding-right: 25px;
  }
}
