@keyframes slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(-33%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(33%);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slide-out-from-left {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(33%);
  }
}

@keyframes slide-out-from-right {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(-33%);
  }
}

$animation-duration: 1.25s;

.slide-in-from-left {
  animation: slide-in-from-left $animation-duration ease;
  opacity: 1;
}

.slide-out-from-left {
  animation: slide-out-from-left $animation-duration ease;
  opacity: 0;
}

.slide-in-from-right {
  animation: slide-in-from-right $animation-duration ease;
  opacity: 1;
}

.slide-out-from-right {
  animation: slide-out-from-right $animation-duration ease;
  opacity: 0;
}
